*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #3f3f3f;
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


.phone{
 height: 660px;

  width: 380px;
  background: #000;
  position: relative;
  border-radius: 25pt;
  border: 5px solid #4f4f4f;
  padding: 10px;
}


.phone header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 12px;
  right: 20px;
  left: 20px;

}




.right{
  display: flex;
  gap: 1vmin;
  align-items: center;
}

.mobile__connection{
  display: flex;
  gap: 3px;
  align-items: flex-end;
}


.connection__element{
  width: 2px;
  background: #fff;
}

.connection__element1{
  height: 2px;
}

.connection__element2{
  height: 4px;
}
.connection__element3{
  height: 6px;
}
.connection__element4{
  height: 8px;
}


.acc{
  width: 20px;
  height: 10px;
  background: #5f5f5f;
}

.acc__element{
  width: 75%;
  height: 100%;
  background: #fff;
  display: block;
}


.go__home{
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #3f3f3f;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 85%;
}

.screen{

  height: 100%;
  width: 100%;
  border-radius: 15pt;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  background: url('./assets/bg/screenwallpaper.jpg');

  background-size: cover;





}

.app__list{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  height: 100%;
  user-select: none;

}

.app__list li{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.app__list li img{
  width: 40%;
}

section{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: #000;

}

section .calculator{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.value{
  margin-left: auto;
}

.calc{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  min-height: 100%;
}

.calc span{
  cursor: pointer;
}

.news__item{
  margin: 20px 0;
}

.call__app{
  width: 100%;
  height: 100%;
}

.backspace{
  margin-top: 20px;
  margin-left: auto;
  width: 10%;
}


.call__app ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  place-items: center;
  list-style-type: none;
}

.call__app ul li{


}

.ul__call{
  width: 40%;
  transform: translateX(80%);
}

.galery{
  height: 90%;
}

.galery__scroll{
  margin: 50px 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  height: 400px;

  width: 100%;
  display: flex;
}

.galery__scroll img{
  min-width: 100%;
  scroll-snap-align: center;
}


.browser__section{
  height: 100%;
  margin: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.browser__section input{
  outline: none;
  padding: 5px;
  border: none;
}

.browser__section iframe{
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border: none;
}